.topbar {
  background-color: #1e1e1e;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.topbar-left {
  text-align: left;
  flex: 1;
}

.topbar-right {
  text-align: right;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.email-link {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  margin-top: 0.3rem;
  transition: transform 0.2s ease;
}

.email-link:hover {
  text-decoration: underline;
}
